/* placeholder */
.repohead-details-container .public:not(.has-lovely-forks) {
    padding-bottom: 12px;
}

/* smoother integration, show hierarchy */
.lovely-forks-addon {
    animation: fade-in 0.2s;
}

.lovely-forks-addon.indented {
    padding-left: 1em;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
}

/* icons */
.lovely-forks-addon img {
    vertical-align: bottom;
}
