/* placeholder */
main > div > div:not(.repository-content) > div:not(.has-lovely-forks) {
    padding-bottom: 20px;
}

/* smoother integration, show hierarchy */
.lovely-forks-addon {
    animation: fade-in 0.2s;
    line-height: 1 !important;
    font-size: 12px !important;
    white-space: nowrap !important;
    margin-top: 4px;
}

.lovely-forks-addon.indented {
    padding-left: 1em;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
}

/* icons */
.lovely-forks-addon img {
    vertical-align: middle;
}
