/* smoother integration, show hierarchy */
.lovely-forks-addon {
    /* Render on its own line below the repository title. */
    display: block;
    animation: fade-in 0.2s;
    line-height: 1 !important;
    font-size: 12px !important;
    white-space: nowrap !important;
    margin-top: 4px;
}

.lovely-forks-addon.indented {
    padding-left: 1em;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
}

/* icons */
.lovely-forks-addon img {
    vertical-align: middle;
}
