article.centered {
  max-width: 420px;
  margin: auto;
}

html, body {
  background: transparent;
}

.centered-field {
  display: flex;
  justify-content: center;
}

.centered-field .label {
  padding-left: 1em;
  padding-right: 1em;
}
